// Variables
$base-font-size: 18px;

$primary-color: #293750;
$secondary-color: #7944BE;
$text-color: #717A8C;
$accent-color-1: #057E7D;
$accent-color-2: #939283;
$accent-color-3: #3385A8;
$light-grey: #BAC2CC;
$off-white: #F8FAFF;

// #7D8699
// #717A8C