h1, h2, h3, h4 {
    color: $primary-color;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: .5rem;

    @media (min-width: 992px) {
        font-size: 2.2222rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    } 
    @media (min-width: 1200px) {
        font-size: 3.333rem;
        line-height: 1.1;
        margin-bottom: 1.5rem;
    }      
}

h2 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;

    @media (min-width: 992px) {
        font-size: 1.5rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }      
}

h3 {
    font-size: 1.5rem;
    margin: 0;

    @media (min-width: 768px) {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .7px;
        font-weight: 600;
        color: $accent-color-2;
    }      
}

h4 {
    margin: 1.5rem 0 .25rem 0;
    font-weight: 500;

    @media (min-width: 992px) {
        margin: 0 0 1.5rem 0;
    }     
}